<div class="full-screen">
    <div class="container">
        <div class="middle-container">
            <div class="container-header">
                <h1>Stogo dangos skaičiuoklė</h1>
            </div>
            <form [formGroup]="options">
                <div>
                    <label>Stogo tipas:</label>
                    <mat-radio-group [formControl]="roofTypeControl">
                        <mat-radio-button [checked]="true" value="Shed roof">Vienšlaitis</mat-radio-button>
                        <mat-radio-button value="Open gable roof">Dvišlaitis</mat-radio-button>
                    </mat-radio-group>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Kambario/stogo ilgis</mat-label>
                    <input type="text" [formControl]="roomLengthControl" matInput placeholder="10 metrai" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Kambario/stogo plotis</mat-label>
                    <input type="text" matInput placeholder="8 metrai" [formControl]="roomWidthControl" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Stogo aukštis</mat-label>
                    <input type="text" matInput placeholder="3 metrai" [formControl]="roofHeightControl" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-select [formControl]="roofMaterialTypeControl">
                        <mat-option value="Roof tin">Skarda</mat-option>
                        <mat-option value="Beasbeste">Beasbeste stogo danga</mat-option>
                        <mat-option value="Cerpes">Čerpės</mat-option>
                    </mat-select>
                    <mat-label>Dangos tipas</mat-label>
                </mat-form-field>
                <mat-card>Stogo paviršiaus plotas: {{roofSurfaceAreaControl.value}} m&#178;</mat-card>
                <mat-card>
                    <div *ngIf="roofMaterialTypeControl.value==''">
                        Pasirinkite stogo dangos tipą
                    </div>
                    <div *ngIf="roofMaterialTypeControl.value=='Roof tin'">
                        <mat-form-field appearance="fill">
                            <mat-label>Skardos kaina (m&#178;)</mat-label>
                            <input type="text" matInput placeholder="10 eurai" [formControl]="roofingSheetPriceControl"
                                required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Skardos persidengimas (%)</mat-label>
                            <input type="text" matInput placeholder="5%" [formControl]="roofingSheetOverlapControl"
                                required>
                        </mat-form-field>
                        <div *ngIf="roofingSheetOverlapControl.value=='0.0'">
                            Jums reikės {{roofSurfaceAreaControl.value | number : '1.0-2'}} m&#178; skardos ir iš viso
                            kainuos
                            {{roofSurfaceAreaControl.value * roofingSheetPriceControl.value | number : '1.0-2' }} eurus
                        </div>
                        <div *ngIf="roofingSheetOverlapControl.value!='0.0'">
                            Jums reikės {{roofSurfaceAreaControl.value / (100.0 - roofingSheetOverlapControl.value) *
                            100.0 | number : '1.0-2' }} m&#178; skardos ir iš viso kainuos
                            {{(roofSurfaceAreaControl.value / (100.0 -
                            roofingSheetOverlapControl.value) * 100.0 ) * roofingSheetPriceControl.value | number :
                            '1.0-2'}} eurus
                        </div>
                    </div>
                    <div *ngIf="roofMaterialTypeControl.value=='Beasbeste'">
                        Add calculation for Beasbeste roof material type
                    </div>
                    <div *ngIf="roofMaterialTypeControl.value=='Cerpes'">
                        Add calculation for Cerpes roof material type
                    </div>
                </mat-card>
                <button mat-button color="primary" (click)="calculateRoofSurface()">Skaičiuoti</button>
                <mat-card>
                    <!-- <p> Explanational picture of how rafter length is obtained:</p>
                        <p>run = roof/room width / 2</p>
                        <p>rafter length^2 = run^2 + rise^2</p> 
                        <img src="assets/roofExample.png" />-->
                    <div *ngIf="roofTypeControl.value=='Shed roof'">
                        <img src="assets/ShedRoofWithEave.png" width="550" />
                    </div>
                    <div *ngIf="roofTypeControl.value=='Open gable roof'">
                        <img src="assets/GableRoofWithEave.png" width="550" />
                    </div>
                </mat-card>

            </form>

        </div>
    </div>
</div>
<router-outlet></router-outlet>