<div class="full-screen">
    <div class="container">
        <div class="middle-container">
            <div class="container-header">
                <h1>Roof material calculator</h1>
                <form [formGroup]="options">
                    <div>
                        <label>Roof type:</label>
                        <mat-radio-group [formControl]="roofTypeControl">
                            <mat-radio-button value="Shed roof">Shed roof</mat-radio-button>
                            <mat-radio-button value="Open gable roof">Open gable roof</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <mat-form-field appearance="fill">
                        <mat-label>Roof/room length</mat-label>
                        <input type="text" [formControl]="roomLengthControl" matInput placeholder="10 metres" required>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Roof/room width</mat-label>
                        <input matInput placeholder="8 metres" required>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Roof height</mat-label>
                        <input matInput placeholder="3 metres" required>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-select required [formControl]="roofMaterialTypeControl">
                            <mat-option value="Skarda">Skarda</mat-option>
                            <mat-option value="Beasbeste">Beasbeste stogo danga</mat-option>
                            <mat-option value="Cerpes">Cerpes</mat-option>
                        </mat-select>
                        <mat-label>Roof material type</mat-label>
                    </mat-form-field>
                    <mat-card>{{roofTypeControl.value}}</mat-card>
                    <mat-card>{{roofMaterialTypeControl.value}}</mat-card>
                    <mat-card>{{roomLengthControl.value}}</mat-card>
                    <button type="button" (click)="calculate()">Calculate</button>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>