<div class="full-screen">
    <div class="container">
        <div class="middle-container">
            <div class="container-header">
                <h1>Roof material calculator</h1>
            </div>
            <form [formGroup]="options">
                <div>
                    <label>Roof type:</label>
                    <mat-radio-group [formControl]="roofTypeControl">
                        <mat-radio-button [checked]="true" value="Shed roof">Shed roof</mat-radio-button>
                        <mat-radio-button value="Open gable roof">Open gable roof</mat-radio-button>
                    </mat-radio-group>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Roof/room length</mat-label>
                    <input type="text" [formControl]="roomLengthControl" matInput placeholder="10 metres" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Roof/room width</mat-label>
                    <input type="text" matInput placeholder="8 metres" [formControl]="roomWidthControl" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Roof height</mat-label>
                    <input type="text" matInput placeholder="3 metres" [formControl]="roofHeightControl" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-select [formControl]="roofMaterialTypeControl">
                        <mat-option value="Roof tin">Roof tin</mat-option>
                        <mat-option value="Beasbeste">Beasbeste stogo danga</mat-option>
                        <mat-option value="Cerpes">Cerpes</mat-option>
                    </mat-select>
                    <mat-label>Roof material type</mat-label>
                </mat-form-field>
                <mat-card>Roof surface area: {{roofSurfaceAreaControl.value}} m&#178;</mat-card>
                <mat-card>
                    <div *ngIf="roofMaterialTypeControl.value==''">
                        Select roof material type
                    </div>
                    <div *ngIf="roofMaterialTypeControl.value=='Roof tin'">
                        You will need {{roofSurfaceAreaControl.value}} m&#178; of tin
                    </div>
                    <div *ngIf="roofMaterialTypeControl.value=='Beasbeste'">
                        Add calculation for Beasbeste roof material type
                    </div>
                    <div *ngIf="roofMaterialTypeControl.value=='Cerpes'">
                        Add calculation for Cerpes roof material type
                    </div>
                </mat-card>
                <button mat-button color="primary" (click)="calculate()">Calculate</button>
                <mat-card>
                    <!-- <p> Explanational picture of how rafter length is obtained:</p>
                        <p>run = roof/room width / 2</p>
                        <p>rafter length^2 = run^2 + rise^2</p> 
                        <img src="assets/roofExample.png" />-->
                    <div *ngIf="roofTypeControl.value=='Shed roof'">
                        <img src="assets/ShedRoofWithEave.png" width="550" />
                    </div>
                    <div *ngIf="roofTypeControl.value=='Open gable roof'">
                        <img src="assets/GableRoofWithEave.png" width="550" />
                    </div>
                </mat-card>

            </form>

        </div>
    </div>
</div>
<router-outlet></router-outlet>